* {
    box-sizing: border-box;
}
body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif
}
.wrapper {
    margin: 50px auto;
    border: 0.7px solid #ddd;
    border-radius: 5px;
    width: 800px;
    overflow: hidden;
}
.header {
    padding: 15px;
    background: rgba(255,255,255,1);
    border-bottom: 0.7px solid #ddd;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
.header > h4 {
    margin: 0;
    text-align: center;
}
.user-lists {
    width: 30%;
    float: left;
    display: inline-block;
    height: 400px;
    background-color: #fff;
    border-right: 0.7px solid #ddd;
}
.user {
    overflow:auto;
    padding: 10px;
    border-bottom: 0.5px solid #eee;
    cursor: pointer;
    position: relative;
}
.user:hover, .user.active {
    background-color: #f1f1f1;
}
.user-img {
    width: 25%;
    float: left;
    display: inline-block;
    padding-right: 10px;
}
.user-desc {
    width: 75%;
    float: left;
    display: inline-block;
    line-height: 15px;
    padding: 5px 0;
}
.profile-img {
    width: 100%;
    max-width: 40px;
    min-width: 20px;
}
.user-name {
    font-size: 13px;
    font-weight: bold;
    color: #333;
}
.registered-date {
    font-size: 11px;
    color: #666;
}
.message-container {
    width: 70%;
    float: left;
    background-color: #f1f1f1;
    display: inline-block;
    height: 400px;
    position: relative;
}
.chat-content {
    overflow-y: scroll;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 60px;
}
.chat-item {
    padding: 5px 10px;
    width: 100%;
    display: block;
    overflow: auto;
}
.chat-item > .me {
    padding: 10px;
    background-color: #2980b9;
    float: right;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
}
.chat-item > .her {
    padding: 10px;
    background-color: #fff;
    float: left;
    border-radius: 4px;
    color: #333;
    font-size: 13px;
    border:    0.3px solid #ddd;
}
.text-box {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: #f5f1ed;
    width: 100%;
    border-top: 0.3px solid #ddd;
}
.text-box input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 100px;
    border: 0.5px solid #eee;
    outline: none;
}
.login {
    width: 300px;
    margin: 50px auto;
    border-radius: 5px;
    border: 1px solid #ddd;
    overflow: hidden;
}
.login-form {
    padding: 10px;
    background-color: #fff;
}
.login-form input {
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.login-form button {
    padding: 10px;
    display: block;
    background-color: #2980b9;
    color: #fff;
    border: none;
    margin-top: 10px;
    width: 100%;
    outline: none;
    border-radius: 4px;
}
.notification {
    padding: 3px;
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #e74c3c;
    color: #fff;
    border-radius: 10px;
    font-size: 10px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 10px;

}
.chat-img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.no-user-active {
    text-align: center;
    color: #666;
    padding: 10px;
}
.no-user-active > h5 {
    margin: 0;
}
[v-cloak] {
    display:  none;
    transition: 300ms;
}
@media screen and (max-width: 720px) {
    .wrapper {
        width: 90%;
    }
    .user-desc {
        padding: 0px;
    }
}